header{
    background-color: #e75480;
    padding: 20px 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
header nav ul li a{
    text-decoration: none;
    padding: 15px;
    border: 1px solid hotpink;
    color: white;
}
header nav ul{
    display: flex;
    list-style: none;
    gap: 15px;
    align-items: center;
}
.barra-pesquisa{
    height: 30px;
    border: 1 px solid #f0f0f0;
    width: 300px;
}